body {
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: center;    /* per far contento IE6- */
    font-size: 100%;
    width: 100%;           /* altrimenti il margin sotto non ha riferimenti */  
}

#tutto {
    margin: 0 auto;      /* centrare nei browser standard */
    text-align: center; 
    justify-content: center;       /* per correggere il center del body */

}
.header {
  background-color: midnightblue;
  justify-content: center;
  max-width: 100%;
  text-align: center; 
    
}

nav {
    display: flex;
    background-color: midnightblue ;
    justify-content: center;
    display: inline-block;
    text-align: center; 
    
}

nav ul{
    background-color: midnightblue ;
    list-style-type: none; 
    display: flex;
    justify-content: center;
    gap: 10%;
    text-align: center; 
    
} 

li a{
    display:flex;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 300; 
    text-align: center;
    font-size: larger;
    justify-content: center;
    
} 

.active {
    color: #d80909;
    font-weight: 600;
    font-size: x-large;
    justify-content: center;
}

hr { 
    width: 1000px;
    height:3px;
    border-width:0;
    color:rgb(9, 9, 9);
    background-color:rgb(11, 10, 10); 
}

.welcome{
    font-size: larger;
    text-align: center;
    justify-content: center;  
}

.innerwelcome p{
    font-size: larger;
    font-weight: 500;
    justify-content: center;
    
}

.inserv{
    display: flex;
    justify-content: center;
    margin: 1%;
    
}

.proto{
    display:inline-block;
    border: 2px solid rgb(232, 56, 12);
    box-shadow: 2px 2px 2px 2px rgb(227, 97, 10);
    border-radius: 20px;
    text-align: center;
    justify-content: center;
    margin:1%;
    
}

.services{
    justify-content: center;
    max-width: 100%;
}

.proto img{
   width: 100px;
   height: 100px;
   justify-content: center;
} 

.proto p{
    display:flex;
    width: 280px; 
    margin: 0px;
    margin-bottom: 16px;
    font-size: larger;
    justify-content: center;
}

.proto h3{
    display:flex;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.services h3{
    text-align: center;
    justify-content: center;
}


.one{
    display: inline-block;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.para {
    justify-content: center;
    text-align: center;
    width: 100%;
}

/*.imgs{
    display: grid;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(5,300px);
    gap: 1%;
    margin: 1%; 
    justify-content: center;   
}*/

.sketchfab{
    display: grid;
    grid-template-rows: repeat(3,200px);
    grid-template-columns: repeat(2,200px);
    gap: 1%;
    margin: 1%; 
    justify-content: center;
    max-width: 100%;
}


.shop{
    text-align: center;
    background-color: midnightblue;
    font-size: x-large;
    color: whitesmoke; 
    justify-content: center;
}

.shop button a{
    text-decoration: none;
    font-weight: bold;
    color: rgb(0, 0, 0);
    justify-content: center;
}

.shop button{
    padding: 0.5%;
    font-size: large;
    background-color: plum;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    justify-content: center;
}

footer p {
    display:flex;
    justify-content: center;
}

footer img{
    width: 50px;
    height: 50px;
    justify-content: center;
}

footer{
    display: flex;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0px;
    width: 100%;
}

.second{
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.about{
    display:flex;
    text-align: center;
    justify-content: center;
}

.about h1{
    text-align: center;
    padding-top: 20px;
    justify-content: center;
}

.about p{
    display:flex;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    border-width: 20px;
    padding: 40px;
    font-size: 20px;
    width: 700px;
    margin: 10px;
    color: black;
    justify-content: center;
}

.journey{
    display:inline-block;
    max-width: 100%;
    padding: 1%;
    font-size: larger;
    text-align: center;
    border:3% solid #000000;
    border: double;
    /* background-color: rgb(150, 194, 237); */
    background-image: url("./assets/th.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
    justify-content: center;
}

.block{
    margin: 2%;
    margin-bottom: 1%;
    display: flex;
    justify-content: center;
    gap: 2%;
}

.contact{
    text-align: center;
}

.contact img{
    display: inline-block;
    max-width: 100%;
}
.contact h1{
    color: navy;
    text-align: center;
}
.contact p{
    color: #1d4175;
    text-align: center;
    font-size: x-large;
}
.phone{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;                
    padding: 1%;
    text-align: center;
    position: relative;
    background-color: rgb(11, 101, 11,0.4);
}
.phone p{
    font-size: larger;
}
.email{
    display: inline-block;
    width: 100%;
    text-align: center;
    border: 5% solid black;
    border-radius: 5%;
    box-shadow: 0 5% 5% 0 rgba(0, 0, 0, 0.2), 0 5% 5% 0 rgba(0, 0, 0, 0.19);
    background-color: #97c6d8;
    font-size: larger;
    padding: 1%;
    margin: 1%;
}
.email img{
    width: 15%;
    width: 15%;
}
.box{
    display: flex;
    gap: 1%;
    margin: 1%;
    justify-content: center;
}

.quote{
    display: inline-block;
    font-size: larger;
    text-align: center;
    justify-content: center;  
    margin-right: 25%;
    margin-left: 25%;
    max-width: 100;

}

.quote iframe{
    display: inline-flex;
    justify-content: center;  
    width: 900px;
    height: 600px;
}

