body {
    background-image: url('assets/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    
}

.header {
  background-color: midnightblue;
  display: flex;
  justify-content: center;
  margin-right: 20%;
  margin-left: 20%;
    
}

nav {
    display: flex;
    background-color: midnightblue ;
    justify-content: center;
    display: inline-block;
    
}

nav ul{
    background-color: midnightblue ;
    list-style-type: none; 
    display: flex;
    justify-content: center;
    gap: 5%;
    
} 

li a{
    display:flex;
    text-decoration: none;
    color: whitesmoke;
    font-weight: 300; 
    text-align: center;
    font-size: larger;
} 

.active {
    color: #d80909;
    font-weight: 600;
    font-size: x-large;
}

hr { 
    width: 1000px;
    height:3px;
    border-width:0;
    color:rgb(9, 9, 9);
    background-color:rgb(11, 10, 10); 
}

.welcome{
    margin: 15px;
    font-size: larger;
    display: flex;
    text-align: center;
    justify-content: center;
    
}

.innerwelcome p{
    font-size: larger;
    font-weight: 500;
}

.inserv{
    display: flex;
    justify-content: center;
}

.proto{
    display: inline-block;
    border: 2px solid rgb(232, 56, 12);
    box-shadow: 2px 2px 2px 2px rgb(227, 97, 10);
    border-radius: 20px;
    text-align: center;
    
}

.proto img{
   width: 100px;
   height: 100px;
} 

.proto p{
    display: inline-block;
    width: 280px; 
    margin: 0px;
    margin-bottom: 16px;
    font-size: larger;
}

.proto h3{
    display: inline-block;
    margin-bottom: 0px;
    color: rgb(0, 0, 0);
}

.services h1{
    text-align: center;
}

.choose{
    text-align: center;
} 

.choose h1{
    text-align: center;
} 

.choose h2{
    color: #1d1f81;
    text-align: center;
} 

.one{
    justify-content: center;
}

.one img{
    width: 330px;
    height: 220px; 
    border-radius: 20px;
    float: left;
}

.text{
    text-align: center;
    
}

.text p{
    text-align: center;
    font-size: larger;
}

.imgs{
    display: grid;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(5,300px);
    gap: 10px;
    margin: 10px; 
    justify-content: center;   
}

.sketchfab-embed-wrapper{
    display: grid;
    grid-template-rows: repeat(3,300px);
    grid-template-columns: repeat(5,300px);
    gap: 10px;
    margin: 10px; 
    justify-content: center;
}

.portfolio img{
    width: 300px;
    height: 300px;
    border: 2px solid black;
}

.portfolio h1{
    text-align: center;
} 

.shop{
    text-align: center;
    background-color: midnightblue;
    font-size: x-large;
    color: whitesmoke; 
}

.shop button a{
    text-decoration: none;
    font-weight: bold;
    color: navy;
}

.shop button{
    padding: 0.5%;
    font-size: large;
    background-color: plum;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

footer p {
    display: inline-block;
}

footer img{
    width: 50px;
    height: 50px;
}

footer{
    display: flex;
    justify-content: space-around;
    margin: 20px;
    margin-bottom: 0px;
}

.second{
    text-align: center;
    
}

.third p a{
    color: orangered;
}

.about{
    margin: 20px;
    text-align: center;
}

.about h1{
    text-align: center;
    padding-top: 20px;
}

.about p{
    display: inline-block;
    border-top: 2px solid orangered;
    border-bottom: 2px solid orangered;
    border-width: 20px;
    padding: 40px;
    font-size: 20px;
    width: 700px;
    margin: 10px;
    color: black;
}

.about img{
    float: right;
    width: 400px;
    height: 340px;
    position: relative;
    bottom: 10px;
}

.journey{
    display: inline-block;
    width: 33%;
    padding: 28px;
    font-size: larger;
    text-align: center;
    border:1px solid #1d6981;
    border: double;
    /* background-color: rgb(150, 194, 237); */
    background-image: url("./assets/th.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    color: white;
}

.journey hr{
    width: 50px;
}

.block{
    margin: 100px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.contact{
    text-align: center;
}
